body {
    background-color: white;
    background-image:linear-gradient(90deg, skyblue 0%, red);
}

.button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    border-color: blue;
}

.lgButton{
    background-color: white;
    width: 125px;
    height: 30px;
    border-radius: 12px;
    border-color: blue;
}

.sandButton{
    background-color: white;
    width: 75px;
    height: 30px;
    border-radius: 12px;
    border-color: red;
}

.mainTable{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}